* {
  font: inherit;
  font-family: "Overpass";
  margin: 0;
  font-size: 15px;

}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(216, 12%, 8%);
  height: 100vh;
  color: white;
}

